TestEmails/bin/Debug/TestEmails.exe.config
TestEmails/bin/Debug/TestEmails.vshost.exe.config
TestEmails/bin/Debug/TestEmails.vshost.exe.manifest
TestEmails/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
TestEmails/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
TestEmails/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
TestEmails/obj/Debug/TestEmails.csproj.FileListAbsolute.txt
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/NullToVisibilityConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/PointValueConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/RangePositionConverterConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/ShadowConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/SizeToRectConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/SnackbarMessageTypeConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/TextFieldHintVisibilityConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Converters/TimeToVisibilityConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/CustomPopupPlacementCallbackHelper.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DataGridAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DateTimeEx.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DialogClosingEventArgs.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DialogClosingEventHandler.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DialogHost.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DialogHostEx.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DialogOpenedEventArgs.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DialogOpenedEventHandler.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DialogSession.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DpiHelper.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/DrawerHost.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Extensions.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/HintAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/HintProxyFabric.ComboBox.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/HintProxyFabric.PasswordBox.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/HintProxyFabric.TextBox.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/HintProxyFabric.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/IHintProxy.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ISnackbarMessageQueue.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Icon.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/IconType.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ListBoxAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ListSortDirectionIndicator.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/MaterialDataGridComboBoxColumn.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/MaterialDataGridTextColumn.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/MaterialDateDisplay.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/MessageQueueExtension.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/PackIcon.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/PackIconDataFactory.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/PackIconKind.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Palette.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/PaletteHelper.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/PopupBox.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Properties/AssemblyInfo.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Properties/Resources.Designer.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Properties/Settings.Designer.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/RatingBar.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/RatingBarButton.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Ripple.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/RippleAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ScaleHost.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ShadowAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/SmartHint.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Snackbar.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/SnackbarMessage.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/SnackbarMessageEventArgs.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/SnackbarMessageQueue.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/SnackbarMessageQueueItem.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/StringExtensions.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/TextFieldAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/TimePicker.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ToggleButtonAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ToolTipAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/CircleWipe.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/ITransitionEffect.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/ITransitionEffectSubject.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/ITransitionWipe.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/IZIndexController.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/IndexedItemOffsetMultiplierExtension.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/SlideOutWipe.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionAssist.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionEffect.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionEffectBase.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionEffectExtension.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionEffectKind.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionEffectTypeConverter.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/Transitioner.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionerSlide.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitionerSlideState.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitioningContent.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Transitions/TransitioningContentBase.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/TreeHelper.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/Underline.cs
packages/MaterialDesignThemes.2.2.1.750/src/net45/ValidationAssist.cs
EmailClient/obj/
EmailClient/bin/
packages/
Core/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
